* {
  margin: 0;
  padding: 0;
}
.Body {
  margin: auto;
  display: flex;
  width: 100%;
}

.container-body{
  display: flex;
  max-width: 1360px;
  margin: auto;
  padding: 10px;
}
.rightside{
  display: flex;
  align-self: center;
}

.leftside{
  max-width: 700px;
}
.Name-User {
  font-size: 32px;
  font-weight: 700;
  color: #07b53b;
  margin-top: 41px;
}

.Name-Work {
  font-size: 44px;
  font-weight: 600;
  color: #1e1e1e;
  line-height: 1.3;
  width: 100%;
  margin-top: 12px;
}

.Name-Details {
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  line-height: 1.75;
  margin-top: 20px;;
  box-sizing: border-box;

}

.rightside{
  background-color:;
}
.profile {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .Body {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) { 
  .profile {
    width: 100%;
    border-radius: 0%;
    height: auto;
  }
}

@media only screen and (max-width: 992px) { 
  .profile {
    width: 100%;
    border-radius: 0%;
    height: auto;
  }
}


@media only screen and (max-width: 992px) { 
  .container-body {
  flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .container-body{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .Body{
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: 768px) {

  .Name-Details {
    width: 100%;
    text-align: left;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 768px) {

  .Name-Work {
    width: 100%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {

  .Name-User {
    width: 100%;
    font-size: 18px;
  }
}



@media only screen and (max-width: 992px) {
  .container-body{
    width: 90%;
  }
}









